{% extends 'account.html' %}

{% block content %}

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact applications</h2>
          <ol>
            <li><a href="/">Home</a></li>
              <li><a href={% url 'manager:manager_page' %}>Manager</a></li>
            <li>Contact applications</li>
          </ol>
        </div>

      </div>
    </section>

    <section id="reserves">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                {% for item in all_contacts %}
                    <div class="row">
                    <div class="col-md-3">
                        <a href="{% url 'manager:update_contact' pk=item.pk %}">
                            <button type="button", class="btn btn-primary">Delete application</button>
                        </a>
                    </div>
                    <div class="col-md-3">{{ item.name }}</div>
                    <div class="col-md-3">{{ item.email }}</div>
                    <div class="col-md-3">{{ item.subject }}</div>
                    <div class="col-md-3">{{ item.date_reservation }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"><p>{{ item.message }}</p></div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}