    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

              {% for comment in testimonials %}
                  <div class="swiper-slide">
                      <div class="testimonial-item">
                        <img src="{{ comment.customer_photo.url }}" class="testimonial-img" alt="">
                        <h3>{{ comment.customer_name }}</h3>
                        <h4>{{ comment.position }}</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ comment.comment }}
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                  </div>
              {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
