    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why our restaurant?</h2>
          <p>This is a very important question, the answer is below.</p>
        </div>

        <div class="row">

          {% for block in blocks_with_info %}
              <div class="col-lg-4">
            <div class="box">
              <span>0{{ block.block_number }}</span>
              <h4>{{ block.block_title }}</h4>
              <p>{{ block.block_text }}</p>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Whu Us Section -->
